ในข้อมูลแบบ Category ถ้าข้อมูลมีการแตกยิบย่อยมากเกินไป เช่น บาง Category มีแค่ 1 หรือ 2 Record หรือจำนวน Record แตกต่างกับ Category ใหญ่ ๆ เป็น 100 เป็น 1000 เท่า ข้อมูล Category เหล่านี้ อาจจะไม่ได้ช่วยโมเดล Machine Learning ในการเรียนรู้ก็ได้ 

ทางแก้คือ เราจะ Group Category เล็ก ๆ เหล่านั้นรวมออกมาเป็น Category ใหม่ ตั้งชื่อว่า Other 

การสร้าง Other Category มีข้อดีอีกอย่างคือ ถ้ามีข้อมูล Category ใหม่หลุดมา เราอาจจะเอาใส่ไว้ใน Other ได้เลย โดยที่ไม่ต้องแก้โปรแกรมเยอะ

# 0. Magic

In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

# 1. Import

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

# 2. Data

เราจะสมมติข้อมูล ผู้เข้าร่วมงานสัมมนา ขึ้นมา

In [30]:
df = pd.DataFrame({'Name': ["Mister A", "Mister B", "Mister C", "Mister D", "Mister E", "Mister F", "Mister G", "Mister H", "Mister I", "Mister J", "Mister K", "Mister L", "Mister M", "Mister N", "Mister O", "Mister P", "Mister Q", "Mister R", "Mister S", "Mister T", "Mister U", "Mister V", "Mister W", "Mister X"], 
                   'Age': [22, 33, 35, 31, 41, 51, 27, 33, 37, 31, 42, 57, 22, 33, 35, 31, 41, 51, 27, 33, 37, 31, 42, 57], 
                   'Country': ["Thai", "Laos", "Laos", "Thai", "Brazil", "Ethiopia", "Myanmar", "Canada", "Laos", "Thai", "Thai", "Myanmar", "Thai", "Laos", "Laos", "Thai", "Myanmar", "Myanmar", "Myanmar", "Laos", "Laos", "Thai", "Thai", "Myanmar"], 
                   })
df

        Name  Age   Country
0   Mister A   22      Thai
1   Mister B   33      Laos
2   Mister C   35      Laos
3   Mister D   31      Thai
4   Mister E   41    Brazil
5   Mister F   51  Ethiopia
6   Mister G   27   Myanmar
7   Mister H   33    Canada
8   Mister I   37      Laos
9   Mister J   31      Thai
10  Mister K   42      Thai
11  Mister L   57   Myanmar
12  Mister M   22      Thai
13  Mister N   33      Laos
14  Mister O   35      Laos
15  Mister P   31      Thai
16  Mister Q   41   Myanmar
17  Mister R   51   Myanmar
18  Mister S   27   Myanmar
19  Mister T   33      Laos
20  Mister U   37      Laos
21  Mister V   31      Thai
22  Mister W   42      Thai
23  Mister X   57   Myanmar

# 3. Preprocessing

## 3.1 Other Category

### Before

การที่เราจะ Group Category เล็ก รวมกันเป็น Other เราจะดูก่อนว่าแต่ละ Category มีสมาชิกเท่าไร

In [31]:
df["Country"].value_counts()

Thai        8
Laos        7
Myanmar     6
Canada      1
Ethiopia    1
Brazil      1
Name: Country, dtype: int64

ในเคสนี้ เราจะเลือก Top 3 Category ออกมาก่อน

In [32]:
top3 = df["Country"].value_counts().nlargest(3).index
top3

Index(['Thai', 'Laos', 'Myanmar'], dtype='object')

### After

เราจะ Group Category ให้เหลือเป็น  3 + 1 Category (Top 3 + Other)

In [34]:
df["Country_NEW"] = df["Country"].where(df["Country"].isin(top3), other="Other")
df

        Name  Age   Country Country_NEW
0   Mister A   22      Thai        Thai
1   Mister B   33      Laos        Laos
2   Mister C   35      Laos        Laos
3   Mister D   31      Thai        Thai
4   Mister E   41    Brazil       Other
5   Mister F   51  Ethiopia       Other
6   Mister G   27   Myanmar     Myanmar
7   Mister H   33    Canada       Other
8   Mister I   37      Laos        Laos
9   Mister J   31      Thai        Thai
10  Mister K   42      Thai        Thai
11  Mister L   57   Myanmar     Myanmar
12  Mister M   22      Thai        Thai
13  Mister N   33      Laos        Laos
14  Mister O   35      Laos        Laos
15  Mister P   31      Thai        Thai
16  Mister Q   41   Myanmar     Myanmar
17  Mister R   51   Myanmar     Myanmar
18  Mister S   27   Myanmar     Myanmar
19  Mister T   33      Laos        Laos
20  Mister U   37      Laos        Laos
21  Mister V   31      Thai        Thai
22  Mister W   42      Thai        Thai
23  Mister X   57   Myanmar     Myanmar

นับค่า Feature ใหม่ ที่เพิ่งสร้างขึ้นมา

In [36]:
df["Country_NEW"].value_counts()

Thai       8
Laos       7
Myanmar    6
Other      3
Name: Country_NEW, dtype: int64

# 4. สรุป

1. เราได้ Group รวม Category เล็ก ๆ รวมเข้าเป็น Category ใหม่ ตั้งชื่อว่า Other ซึ่งเราต้องตัดสินใจเลือกว่าเล็ก คือแค่ไหน จากการ [EDA](https://www.bualabs.com/archives/2297/exploratory-data-analysis-eda-pandas-profiling-pandas-dataframe-pandas-ep-6/)
1. เราสามารถสร้าง Other Category อย่างง่าย ด้วย โค้ดไม่กี่บรรทัด และ Pandas Dataframe
1. เราสามารถนำเทคนิคนี้ ไปใช้ร่วมกับ [Preprocessing](https://www.bualabs.com/archives/2085/what-is-preprocessing-handle-missing-value-fill-na-null-nan-before-feedforward-machine-learning-preprocessing-ep-1/) แบบอื่น ๆ เพื่อจัดเตรียมข้อมูล เพิ่มประสิทธิภาพการเรียนรู้ให้กับโมเดลของเรา

# Credit

* https://www.facebook.com/DataScienceSchool/photos/a.1499945753419628/2565166906897502/?type=3&theater