ในงาน NLP เรามักจะต้องเจอกับ การจัดการ String Format ที่ค่อนข้างซับซ้อน เช่น หาอีเมล์ หาเบอร์โทรศัพท์ หาลิงค์ ถ้าเราต้องเขียนโปรแกรม if else วนลูป เช็คเองทุกเคส โปรแกรมจะซับซ้อนมาก วิธีแก้ที่เป็นที่นิยม คือ ใช้ Regular Expression (RegExp, RE) 

Regular Expression เป็นที่นิยมมาก เนื่องจากแก้ปัญหาที่ทุกคนต้องเจอ ซ้ำ ๆ อย่างมีประสิทธิภาพ เราจะพบ Regular Expresion ได้ในทุกภาษา Programming, Tools, Editor ชั้นนำ แต่ Pattern ที่ใช้อาจจะต่างกันเล็กน้อย

# 1. Import

import Regular Expression (re) package สำหรับใช้ใน Python

In [0]:
import re

# 2. Function

ตัวอย่างการใช้งาน เช็คดู String ไหน ว่าตรงตาม Pattern ที่กำหนด

In [0]:
# pat = Pattern
pat = "^The.*Thailand$"

# strs = Strings
strs = ["The list ranks completed buildings in Thailand", 
        "The tallest building in Thailand.", 
        "Weather in Thailand", 
        "They recently visited Chiang Mai, Thailand"]

เรียกฟังก์ชัน search หา Pattern ใน String ในที่นี้คือ เริ่มต้นด้วย "The" ต่อด้วยอะไรก็ได้ แล้ว ลงท้ายด้วย "Thailand"

In [5]:
[re.search(pat, s) for s in strs]

[<_sre.SRE_Match object; span=(0, 46), match='The list ranks completed buildings in Thailand'>,
 None,
 None,
 <_sre.SRE_Match object; span=(0, 42), match='They recently visited Chiang Mai, Thailand'>]

จะเจอตัวแรก และตัวสุดท้าย เนื่องจากทั้งสองตัวเริ่มต้นด้วย "The" ต่อด้วยอะไรก็ได้ แล้ว ลงท้ายด้วย "Thailand" แต่ ตัวที่สองมีจุด full stop และตัวที่ 3 ไม่ได้เริ่มต้นด้วย "The"

ใน re package จะมี function ที่ใช้บ่อย ๆ ดังนี้

* re.search(pattern, string, flags=0) สแกน String หาตำแหน่งแรกที่ Match Pattern ที่กำหนดแล้ว Return Match Object ที่ระบุข้อมูลการ Match ถ้าไม่เจอ Return None

* re.findall(pattern, string, flags=0)	Return list of strings ที่ Match Pattern ที่กำหนด ถ้าไม่ Match return None.

* re.split(pattern, string, maxsplit=0, flags=0) แบ่ง String ณ จุดที่ Match Pattern ถ้ามีการใช้ วงเล็บจับข้อมูล ก็จะ Return ลิสต์ของข้อความที่จับได้

* re.sub(pattern, repl, string, count=0, flags=0) Return string จากการแทนค่า repl ใน string ตาม Pattern ที่กำหนด ถ้าไม่ Match ก็ Return string ต้นฉบับ, repl สามารถเป็นได้ทั้ง string pattern และ function

ดูตัวอย่างจะเห็นภาพ ชัดกว่า

## 2.1 search

หา white space (\s)

In [6]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.search("\s", str)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 4

กรณีไม่ Match

In [7]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.search("Taiwan", str)
print(x)

None

## 2.2 findall

หา Pattern แล้ว return string ที่ตรง Pattern คำว่า "la"

In [8]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.findall("la", str)
print(x)

['la', 'la']

Th แล้วต่อด้วยอักษรอะไรก็ได้ 1 ตัว

In [9]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.findall("Th.", str)
print(x)

['Thi', 'Tha', 'Tha']

ในกรณี ไม่ Match เลย จะ Return Empty List

In [10]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.findall("Japan", str)
print(x)

[]

## 2.3 split

Split เมื่อ Match 1 space (\s) จะ Return list ของ string ที่ถูก Split

In [11]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.split("\s", str)
print(x)

['This', 'list', 'of', 'tallest', 'buildings', 'in', 'Thailand', 'ranks', 'skyscrapers', 'in', 'Thailand', 'by', 'height.']

Limit ว่าต้องการไม่เกิน 2 รายการ ที่เหลือไม่ต้อง Split

In [12]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.split("\s", str, 2)
print(x)

['This', 'list', 'of tallest buildings in Thailand ranks skyscrapers in Thailand by height.']

## 2.4 sub

เปลี่ยน White Space (\s) เป็นเลข 0 ให้หมด

In [13]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.sub("\s", "0", str)
print(x)

This0list0of0tallest0buildings0in0Thailand0ranks0skyscrapers0in0Thailand0by0height.

Limit ว่าต้องการเปลี่ยนไม่เกิน 2 อันแรก ที่เหลือไม่ต้อง

In [14]:
str = "This list of tallest buildings in Thailand ranks skyscrapers in Thailand by height."
x = re.sub("\s", "0", str, 2)
print(x)

This0list0of tallest buildings in Thailand ranks skyscrapers in Thailand by height.

# 3. Pattern

## 3.1 Metacharacters

อักขระพิเศษ

| ตัวอักษร 	| คำอธิบาย                                             	| ตัวอย่าง   	|
|--------	|-----------------------------------------------------	|----------	|
| []     	| set ของตัวอักษร                                       	| [a-f]    	|
| \      	| เอาไว้นำหน้า Special Sequence เอาไว้ escape ตัวอักษรพิเศษ 	| \d       	|
| .      	| ตัวอักษรใด ๆ ยกเว้นขึ้นบรรทัดใหม่ เช่น cut, cat             	| c.t 	|
| ^      	| เริ่มต้นด้วย                                            	| ^The     	|
| \$     	| จบด้วย                                               	| end\$  	|
| *      	| c ปรากฎ 0 ครั้ง หรือมากกว่า                               	| abc*    	|
| +      	| c ปรากฎ 1 ครั้ง หรือมากกว่า                               	| abc+    	|
| {}     	| o ปรากฎจำนวนครั้งตามที่ระบุ                                	| lo{2}se  	|
| &#124;     	| อย่างใดอย่างหนึ่ง                                       	| yes&#124;no  	|
| ()     	| Capture และ group                                   	|          	|

In [0]:
str = "This list of 100 tallest buildings in Thailand ranks skyscrapers in Thailand by height"

In [16]:
x = re.findall("[a-f]", str)
print(x)

['f', 'a', 'e', 'b', 'd', 'a', 'a', 'd', 'a', 'c', 'a', 'e', 'a', 'a', 'd', 'b', 'e']

In [17]:
x = re.findall("\d", str)
print(x)

['1', '0', '0']

In [18]:
x = re.findall("bu.lding", str)
print(x)

['building']

In [19]:
x = re.findall("^Th", str)
print(x)

['Th']

In [20]:
x = re.findall("ght$", str)
print(x)

['ght']

## 3.2 Special Sequences

ลำดับอักขระพิเศษ

| ตัวอักษร 	| คำอธิบาย                                                                                                   	| ตัวอย่าง             	|
|--------	|-----------------------------------------------------------------------------------------------------------	|--------------------	|
| \A     	| Return ถ้าตัวอักษรที่ระบุอยู่ต้น string                                                                     	| \AThe              	|
| \b     	| Return ถ้าตัวอักษรที่ระบุอยู่ต้น หรือท้ายคำ (ตามตำแหน่งของ \b)                                                 	| r"\bain", r"ain\b" 	|
| \B     	| Return ถ้าพบตัวอักษรที่ระบุ ยกเว้นพบที่ต้น หรือท้ายคำ (ตามตำแหน่งของ \B)                                        	| r"\Bain", r"ain\B" 	|
| \d     	| Return ถ้าพบตัวเลข 0-9 ใน string                                                                     	| \d                 	|
| \D     	| Return ถ้าไม่พบตัวเลข 0-9 ใน string                                                                   	| \D                 	|
| \s     	| Return ถ้าพบตัวอักษร White Space เช่น space (" "), tab ("\t"), newline ("\n"), return ("\r") ใน string 	| \s                 	|
| \S     	| Return ถ้าไม่พบตัวอักษร White Space ใน string                                                          	| \S                 	|
| \w     	| Return ถ้าพบตัวอักษรข้อความใด ๆ เช่น (ตัวอักษร a ถึง Z, ตัวเลข 0-9, และ underscore "_" )                    	| \w                 	|
| \W     	| Return ถ้าไม่พบตัวอักษรข้อความใด ๆ                                                                      	| \W                 	|
| \Z     	| Return ถ้าตัวอักษรที่ระบุอยู่ท้าย string                                                                    	| Thailand\Z         	|

In [0]:
str = "This list of 100 tallest buildings in Thailand ranks skyscrapers in Thailand by height"

In [22]:
x = re.findall("\ATh", str)
print(x)

['Th']

In [23]:
x = re.findall(r"\band", str)
print(x)

[]

In [24]:
x = re.findall(r"and\b", str)
print(x)

['and', 'and']

In [25]:
x = re.findall(r"\Band", str)
print(x)

['and', 'and']

In [26]:
x = re.findall(r"and\B", str)
print(x)

[]

In [27]:
x = re.findall("\d", str)
print(x)

['1', '0', '0']

In [28]:
x = re.findall("\D", str)
print(x)

['T', 'h', 'i', 's', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', ' ', 't', 'a', 'l', 'l', 'e', 's', 't', ' ', 'b', 'u', 'i', 'l', 'd', 'i', 'n', 'g', 's', ' ', 'i', 'n', ' ', 'T', 'h', 'a', 'i', 'l', 'a', 'n', 'd', ' ', 'r', 'a', 'n', 'k', 's', ' ', 's', 'k', 'y', 's', 'c', 'r', 'a', 'p', 'e', 'r', 's', ' ', 'i', 'n', ' ', 'T', 'h', 'a', 'i', 'l', 'a', 'n', 'd', ' ', 'b', 'y', ' ', 'h', 'e', 'i', 'g', 'h', 't']

In [29]:
x = re.findall("\s", str)
print(x)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [30]:
x = re.findall("\S", str)
print(x)

['T', 'h', 'i', 's', 'l', 'i', 's', 't', 'o', 'f', '1', '0', '0', 't', 'a', 'l', 'l', 'e', 's', 't', 'b', 'u', 'i', 'l', 'd', 'i', 'n', 'g', 's', 'i', 'n', 'T', 'h', 'a', 'i', 'l', 'a', 'n', 'd', 'r', 'a', 'n', 'k', 's', 's', 'k', 'y', 's', 'c', 'r', 'a', 'p', 'e', 'r', 's', 'i', 'n', 'T', 'h', 'a', 'i', 'l', 'a', 'n', 'd', 'b', 'y', 'h', 'e', 'i', 'g', 'h', 't']

In [31]:
x = re.findall("\w", str)
print(x)

['T', 'h', 'i', 's', 'l', 'i', 's', 't', 'o', 'f', '1', '0', '0', 't', 'a', 'l', 'l', 'e', 's', 't', 'b', 'u', 'i', 'l', 'd', 'i', 'n', 'g', 's', 'i', 'n', 'T', 'h', 'a', 'i', 'l', 'a', 'n', 'd', 'r', 'a', 'n', 'k', 's', 's', 'k', 'y', 's', 'c', 'r', 'a', 'p', 'e', 'r', 's', 'i', 'n', 'T', 'h', 'a', 'i', 'l', 'a', 'n', 'd', 'b', 'y', 'h', 'e', 'i', 'g', 'h', 't']

In [32]:
x = re.findall("\W", str)
print(x)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [33]:
x = re.findall("ght\Z", str)
print(x)

['ght']

## 3.3 Sets

Set คือ เซ็ตของอักษร ที่อยู่ภายใน Square Bracket มีความหมายพิเศษ ดังนี้

| เซ็ต        	| คำอธิบาย                                                                     	|
|------------	|-----------------------------------------------------------------------------	|
| [abcd]     	| Return ถ้ามีตัวอักษรใดอักษรหนึ่งที่ระบุ a, b, c, d                                   	|
| [a-d]      	| Return ถ้ามีตัวอักษรใดอักษรหนึ่งอยู่ในช่วงที่ระบุ a - d                                 	|
| [^abc]     	| Return ถ้ามีตัวอักษรยกเว้นที่ระบุ เช่น d, e, f, g, h, ... X, Y, Z                   	|
| [0123]     	| Return ถ้ามีตัวเลขใดเลขหนึ่งที่ระบุ 0, 1, 2, 3                                     	|
| [0-9]      	| Return ถ้ามีตัวเลขในช่วงที่ระบุ 0, 1, 2, 3, ..., 9                                	|
| [0-2][0-9] 	| Return ถ้ามีตัวเลขสองหลัก ในช่วงระหว่าง 00 ถึง 29                                 	|
| [a-zA-Z]   	| Return ถ้ามีตัวอักษรใดอักษรหนึ่งอยู่ในช่วงที่ระบุ a - z ไม่ว่าจะตัวใหญ่ หรือตัวเล็ก            	|
| [+]        	| ในเซ็ต  +, *, ., |, (), $,{} ไม่ได้มีความหมายพิเศษ ดังนั้น [+] หมายถึง Returns ถ้ามี + 	|

In [0]:
str = "This list of 108 tallest buildings in Thailand ranks skyscrapers in Thailand by height"

In [35]:
x = re.findall("[abc]", str)
print(x)

['a', 'b', 'a', 'a', 'a', 'c', 'a', 'a', 'a', 'b']

In [36]:
x = re.findall("[a-g]", str)
print(x)

['f', 'a', 'e', 'b', 'd', 'g', 'a', 'a', 'd', 'a', 'c', 'a', 'e', 'a', 'a', 'd', 'b', 'e', 'g']

In [37]:
x = re.findall("[^abc]", str)
print(x)

['T', 'h', 'i', 's', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', '1', '0', '8', ' ', 't', 'l', 'l', 'e', 's', 't', ' ', 'u', 'i', 'l', 'd', 'i', 'n', 'g', 's', ' ', 'i', 'n', ' ', 'T', 'h', 'i', 'l', 'n', 'd', ' ', 'r', 'n', 'k', 's', ' ', 's', 'k', 'y', 's', 'r', 'p', 'e', 'r', 's', ' ', 'i', 'n', ' ', 'T', 'h', 'i', 'l', 'n', 'd', ' ', 'y', ' ', 'h', 'e', 'i', 'g', 'h', 't']

In [38]:
x = re.findall("[0123]", str)
print(x)

['1', '0']

In [39]:
x = re.findall("[0-8]", str)
print(x)

['1', '0', '8']

In [40]:
x = re.findall("[0-1][0-1][0-8]", str)
print(x)

['108']

# 4. Match Object

Match Object จะประกอบด้วยข้อมูลของการค้นหา และผลลัพธ์ของการค้นหา มี Method ที่ใช้บ่อย ดังนี้

* .span() Return Tuple ระบุตำแหน่งเริ่มต้น สิ้นสุดของการ Match
* .string Return String ที่ส่งให้ Function
* .group() Return ส่วนของ String ที่ Match

In [0]:
str = "This list of 100 tallest buildings in Thailand ranks skyscrapers in Thailand by height"

Match Object จะบอกว่าเจออะไร และตำแหน่งที่พบ

In [42]:
x = re.search("lis.", str)
print(x)

<_sre.SRE_Match object; span=(5, 9), match='list'>

In [43]:
x = re.search(r"\bsky\w+", str)
print(x.string)

This list of 100 tallest buildings in Thailand ranks skyscrapers in Thailand by height

In [44]:
x = re.search(r"\bsky\w+", str)
print(x.group())

skyscrapers

# Credit

* https://github.com/fastai/course-nlp/blob/master/4-regex.ipynb
* https://docs.python.org/2/library/re.html
* https://www.w3schools.com/python/python_regex.asp
* https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285
* https://medium.com/factory-mind/regex-cookbook-most-wanted-regex-aa721558c3c1
* https://regexone.com/